<%= content_tag :tr do -%>
	<td nowrap>
		<%= upload_file.sales_date %>
	</td>

	<% upload_file.to_sales_grid_row.each do |sale| %>
		<%= content_tag :td do %>
			<% unless sale.nil? or sale == 0 %>
				<%= content_tag :div, :class => "text-right" do %>
					<%= number_to_currency(sale) %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>

	<td align="right">
		<%= content_tag :div, :class => "text-right" do %>
			<%= number_to_currency(upload_file.total_sales) %>
		<% end %>
	</td>
<% end -%>

