<%= content_tag :tr, :class => cycle('even', 'odd') do -%>
	<td nowrap>
		<%= upload_file.sales_date %>
	</td>

	<% upload_file.to_sales_grid_row.each do |sale| %>
		<%= content_tag :td, :align => :right do %>
			<% unless sale.nil? or sale == 0 %>
				<%= number_to_currency(sale) %>
			<% end %>
		<% end %>
	<% end %>

	<td align="right">
		<%= number_to_currency(upload_file.total_sales) %>
	</td>
<% end -%>

