<style type="text/css">
.datetime select:nth-child(1){
  width: 130px;
  text-indent: 15px; 
}

.datetime select:nth-child(2) {
  width: 60px;
  text-indent: 5px;
}

.datetime select:nth-child(3) {
  width: 100px;
  text-indent: 15px;
}
</style>

<h1>Welcome#index</h1>
<p id="error"><%= flash[:error] %></p>

<%= content_tag :table, { :border => 1, :cellspacing => 0, :style => "border-color:#f0f0f0;"} do %>
	<%= content_tag :tr do %>
		<%= content_tag :td do %>
			<div>
				<ul>
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Upload", upload_index_path %></li>
					<li><%= link_to "Sales", sales_path %></li>
					<li><%= link_to "Apps", apps_path %></li>
					<li><%= link_to pluralize(@filecount, 'Uploaded File'), upload_files_path %></li>
				</ul>
			</div>
		<% end %>
		<%= content_tag :td do %>
			<div>TO DO
				<ul>
					<li>Chart by Country</li>
					<li>Testing</li>
					<li>Apply bootstrap styles</li>
				</ul>
			</div>
		<% end %>
	<% end %>
<% end %>

<% unless @foreign_currency_sales.count == 0 %>
	<%= content_tag :table, { :border => 1, :cellspacing => 0, :style => "border-color:#f0f0f0;"} do %>
		<tr><th colspan="3">Foreign Currencies Needing Exchange</th></tr>
		<tr><th>App</th><th>Proceeds</th></tr>
		<% @foreign_currency_sales.each do |sale| %>
			<%= content_tag :tr do %>
				<%= content_tag( :td, sale.app_version.app.title ) %>
				<%= content_tag( :td, link_to("#{sale.developer_proceeds} (#{sale.currency_of_proceeds})", edit_sale_path(sale)), { :align => "right" } ) %>
			<% end %>
		<% end %>
	<% end %>
<% end %>


<%= content_tag :table, { :border => 1, :cellspacing => 0, :style => "border-color:#f0f0f0;"} do %>
	<%= content_tag :tr do %>
		<%= content_tag :td do %>
			<%= content_tag :table, { :border => 1, :cellspacing => 0, :style => "border-color:#f0f0f0;"} do %>
				<tr><th colspan="3">Sales from <%= @filter_from %> through <%= @filter_to %> </th></tr>
				<tr><th>App</th><th>Units</th><th>Sales</th></tr>
				<% @apps.each do |app| %>
					<tr>
						<td>
								<%= link_to app.title, edit_app_path(app) %> 
								(<%= app.short_app_name %>)
						</td>
						<td align="right"><%= number_with_delimiter(app.units_total_within_date_range(@filter_from, @filter_to), :delimiter => ',') %></td>
						<td align="right"><%= number_to_currency(app.sales_total_within_date_range(@filter_from, @filter_to)) %></td>
					</tr>
				<% end %>
			<% end %>
		<% end %>
		<%= content_tag :td do %>
			<img src="<%= Gchart.pie(:title => @title, 
										:labels => @legend, 
										:data => @data, 
										:bg => 'efefef',
										:size => '700x330',
										:background => 'E0E0E0', 
										:chart_background => 'F0F0F0') %>">
		<% end %>
		<%= content_tag :td do %>
			<%= form_tag(root_path, :method => :get) do %>
				<%= label_tag(:the_from_date, "From:") %>
				<%= content_tag :span, :class => "datetime" do %>
					<%= date_select(:the_from_date, "", 
						:default => @filter_from, 
						:order => [:month, :day, :year],
						:size => 5, 
						:html=>{:class => "input-mini"}) %>
				<% end %>
				
				<br/>
				<%= label_tag(:the_to_date, "To:") %>
				<%= content_tag :span, :class => "datetime" do %>
					<%= date_select(:the_to_date, "", 
						:default => @filter_to, 
						:order => [:month, :day, :year],
						:html=>{:class => "input-mini"}) %>
				<% end %>
				
				<br/>
				<%= submit_tag("Search") %>
			<% end %>
		<% end %>
	<% end %>
<% end %>




<%= render partial: "upload_files/upload_files_collection", locals: {apps: @apps, upload_files: @upload_files} %>

