<p id="notice"><%= notice %></p>

<p>
  <strong>Units:</strong>
  <%= @sale.units %>
</p>

<p>
  <strong>Proceeds:</strong>
  <%= @sale.proceeds %>
</p>

<p>
  <strong>Customer currency:</strong>
  <%= @sale.customer_currency %>
</p>

<p>
  <strong>Country:</strong>
  <%= @sale.country.digraph %>
</p>

<p>
  <strong>Currency of proceeds:</strong>
  <%= @sale.currency_of_proceeds %>
</p>

<p>
  <strong>Customer price:</strong>
  <%= @sale.customer_price %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %> | 
<%= link_to 'Home', "/" %>
